@font-face {
    font-family: "arialbd";
    src: url("../fonts/arialbd.ttf");
}

@font-face {
    font-family: "Exo2-BoldCondensed";
    src: url("../fonts/Exo2-BoldCondensed.otf");
}

@font-face {
    font-family: "helveticaneuecyr-bold";
    src: url("../fonts/helveticaneuecyr-bold.otf");
}

@font-face {
    font-family: "helveticaneuecyr-roman";
    src: url("../fonts/helveticaneuecyr-roman.otf");
}

@font-face {
    font-family: "MyriadPro-BoldCond";
    src: url("../fonts/MyriadPro-BoldCond.otf");
}

@font-face {
    font-family: "Parangon 530C";
    src: url("../fonts/Parangon 530C.otf");
}

@font-face {
    font-family: "PTC55F";
    src: url("../fonts/PTC55F.ttf");
}

@font-face {
    font-family: "tahoma";
    src: url("../fonts/tahoma.ttf");
}

@font-face {
    font-family: "tt0140m_";
    src: url("../fonts/tt0140m_.ttf");
}

@font-face {
    font-family: "Uni Sans Heavy Italic";
    src: url("../fonts/Uni Sans Heavy Italic.otf");
}

@font-face {
    font-family: "Futura Bold BT";
    src: url("../fonts/Futura Bold BT.ttf");
}