@mixin Ar {
    font-family: "arialbd";
}

@mixin Ex2 {
    font-family: "Exo2-BoldCondensed";
}

@mixin helB {
    font-family: "helveticaneuecyr-bold";
}

@mixin helR {
    font-family: "helveticaneuecyr-roman";
}

@mixin muB {
    font-family: "MyriadPro-BoldCond";
}

@mixin Par {
    font-family: "Parangon 530C";
}

@mixin Pt5 {
    font-family: "PTC55F";
}

@mixin Tah {
    font-family: "tahoma";
}

@mixin Tt {
    font-family: "tt0140m_";
}

@mixin uniS {
    font-family: "Uni Sans Heavy Italic";
}

@mixin futB {
    font-family: "Futura Bold BT";
}