@import "mixin.scss";
@import "vars.scss";
@import "fonts.scss";

body{
    margin: 0;
    -webkit-font-smoothing: antialiased;
    font-size: 24px;
    color:$main-color;
    @include Ar();
}

html,body{
    height: 100%;
}


*,
*:before,
*:after{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

.main-wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.main-inner{
    overflow: hidden;
}

// Grid

@import "grid.scss";

// Ibg

@import "ibg.scss";

// Block_content

@import "block_content.scss";

// Burger

@import "burger.scss";

// Blocks

@import "blocks/header";
@import "blocks/menu";
@import "blocks/studio";
@import "blocks/credo";
@import "blocks/developers";
@import "blocks/portfolio";
@import "blocks/adaptive";
@import "blocks/trade";
@import "blocks/care";
@import "blocks/contacts";
@import "blocks/footer";

